* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #fbd46d;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #ececeb; 
  --white: #FFFFFF;
  --frontEnd: #6153df;
  --backEnd: #e25822;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

#root{
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}